<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter username" name="userName"><br><br>
        <textarea placeholder="Write your content" name="content"></textarea><br><br>
        <button>post</button>
    </form>
</body>
</html>